@import 'keys.css'

.blitzcrank-overlay
    -webkit-font-smoothing antialiased
    display none
    border-radius 20px
    padding 3%
    width 70%
    left 50%
    margin-left -35%
    top 50%
    z-index 999
    position fixed
    font-weight bold
    background url('bg.png')
    overflow hidden
    box-sizing border-box
    &.open
        display block
    .key
        margin-right 15px
        &.plus
            &::after
                content '+'
                color white
                display block
                width 15px
                position relative
                left 100%
                height 41px
                bottom 17px
                float left
                font-weight normal
                font-size 15px
    ul
        margin 0
        li
            display inline-block
        .combo
            display inline-block
            a
                display inline-block
        .name
            display inline-block
            vertical-align middle
            color white
            font-family 'Open Sans', sans-serif
            font-weight bold
        span
            span
                span
                    display none
.blitzcrank-overlay
    &#blitzcrank-help
        ul
            li
                width 50%
                margin-bottom 20px
            .name
                font-size 23px
                line-height 29px
    &#blitzcrank-task-switcher
        padding 1%
        ul
            li
                margin 1%
                width 8.75%
                height 100px
                text-align center
                color white
                opacity .4
                float left
                transition all .2s ease
                &.blitzcrank-task-switcher-current
                    opacity 1
                    transition all .2s ease
                    div
                        &.wp-menu-image
                            &::before
                                margin-top -10px
                div
                    &.wp-menu-image
                        &::before
                            color white
                            font-size 60px
                            width auto
                            height 60px
                            text-shadow 1px 1px 0px black
                .name
                    vertical-align bottom
                    font-weight bold
                    font-size 14px
                    text-shadow 1px 1px 0px black
.blitzcrank-target
    &:before
        content ''
        display block
        width 10px
        height 10px
        border-radius 10px
        position absolute
        top 50%
        margin-top -5px
        left 144px
        background: #fbfb4b;
        background: -moz-radial-gradient(center, ellipse cover, #fbfb4b 0%, #f3a63a 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fbfb4b), color-stop(100%,#f3a63a)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, #fbfb4b 0%,#f3a63a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, #fbfb4b 0%,#f3a63a 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, #fbfb4b 0%,#f3a63a 100%); /* IE10+ */
        background: radial-gradient(ellipse at center, #fbfb4b 0%,#f3a63a 100%); /* W3C */
.folded
    .blitzcrank-target
        &:before
            left 42px
.blitzcrank-thelist-current
    &::after
        background #2ea2cc
#the-list
    tr
        &::after
            content ''
            width 10px
            height 10px
            position absolute
            left 3px
            border-radius 0 0 10px 0
@media all and (max-width: 900px)
    .blitzcrank-overlay
        ul
            li
                width 100%