@import 'keys.css';
.blitzcrank-overlay {
  -webkit-font-smoothing: antialiased;
  display: none;
  border-radius: 20px;
  padding: 3%;
  width: 70%;
  left: 50%;
  margin-left: -35%;
  top: 50%;
  z-index: 999;
  position: fixed;
  font-weight: bold;
  background: url("bg.png");
  overflow: hidden;
  box-sizing: border-box;
}
.blitzcrank-overlay.open {
  display: block;
}
.blitzcrank-overlay .key {
  margin-right: 15px;
}
.blitzcrank-overlay .key.plus::after {
  content: '+';
  color: #fff;
  display: block;
  width: 15px;
  position: relative;
  left: 100%;
  height: 41px;
  bottom: 17px;
  float: left;
  font-weight: normal;
  font-size: 15px;
}
.blitzcrank-overlay ul {
  margin: 0;
}
.blitzcrank-overlay ul li {
  display: inline-block;
}
.blitzcrank-overlay ul .combo {
  display: inline-block;
}
.blitzcrank-overlay ul .combo a {
  display: inline-block;
}
.blitzcrank-overlay ul .name {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.blitzcrank-overlay ul span span span {
  display: none;
}
.blitzcrank-overlay#blitzcrank-help ul li {
  width: 50%;
  margin-bottom: 20px;
}
.blitzcrank-overlay#blitzcrank-help ul .name {
  font-size: 23px;
  line-height: 29px;
}
.blitzcrank-overlay#blitzcrank-task-switcher {
  padding: 1%;
}
.blitzcrank-overlay#blitzcrank-task-switcher ul li {
  margin: 1%;
  width: 8.75%;
  height: 100px;
  text-align: center;
  color: #fff;
  opacity: 0.4;
  float: left;
  transition: all 0.2s ease;
}
.blitzcrank-overlay#blitzcrank-task-switcher ul li.blitzcrank-task-switcher-current {
  opacity: 1;
  transition: all 0.2s ease;
}
.blitzcrank-overlay#blitzcrank-task-switcher ul li.blitzcrank-task-switcher-current div.wp-menu-image::before {
  margin-top: -10px;
}
.blitzcrank-overlay#blitzcrank-task-switcher ul li div.wp-menu-image::before {
  color: #fff;
  font-size: 60px;
  width: auto;
  height: 60px;
  text-shadow: 1px 1px 0px #000;
}
.blitzcrank-overlay#blitzcrank-task-switcher ul li .name {
  vertical-align: bottom;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 0px #000;
}
.blitzcrank-target:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 144px;
  background: #fbfb4b;
  background: -moz-radial-gradient(center, ellipse cover, #fbfb4b 0%, #f3a63a 100%);
/* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fbfb4b), color-stop(100%, #f3a63a));
/* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #fbfb4b 0%, #f3a63a 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #fbfb4b 0%, #f3a63a 100%);
/* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #fbfb4b 0%, #f3a63a 100%);
/* IE10+ */
  background: radial-gradient(ellipse at center, #fbfb4b 0%, #f3a63a 100%);
/* W3C */
}
.folded .blitzcrank-target:before {
  left: 42px;
}
.blitzcrank-thelist-current::after {
  background: #2ea2cc;
}
#the-list tr::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 3px;
  border-radius: 0 0 10px 0;
}
@media all and (max-width: 900px) {
  .blitzcrank-overlay ul li {
    width: 100%;
  }
}
